{% load webdesign %}
<div class="jumbotron">
    <div class="container">
        <h1>
            Welcome to Vic's site
        </h1>
        <p>
            Insert marketing copy here
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>
                About
            </h2>
            <p>{%lorem%}</p>
        </div>
        <div class="col-md-6">
            <h2>
                Contacts
            </h2>
            <p>{%lorem%}</p>
            <br>
            <p>
                <a class="btn btn-default" href = "{% url 'page' 'contacts' %}">Contacts</a>
            </p>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <p>
            &copy; VR Shipping {% now 'Y' %}
        </p>
    </div>
</footer>